<h1>Your Book Stores</h1>

<% if @stores && !@stores.empty? %>
  <div class="container-lg my-5">
    <div class="row gy-5 row-cols-3">
      <% @stores.each do |store|%>
        <div class="col">
          <div class="p-5 bg-secondary text-light text-center"><%= link_to "#{store.name}", store, :class => "link-light" %></div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container-lg my-5">
    <p class="text-info">No existing Book Stores</p>
  </div>
<% end %>

<%= link_to "Create book store", new_store_path %>
